@import "../hyprisos/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 18px;
  font-family: 'JetBrainsMonoNL Nerd Font';
  font-size: 13px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.modules-left {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 3px;
}

.modules-right {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 3px;
}

.modules-center {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 0 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.2;
}

#tray,
#battery,
#network,
#custom-power,
#power-profiles-daemon,
#custom-screenrecording-indicator,
#bluetooth,
#pulseaudio,
#custom-toggle,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 8px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.5);
  color : @foreground;
  padding: 2px;
  border-radius: 10px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-right: 10px;
}

#waybar {
    background-color: transparent;
}

#waybar > box {
    margin: 0px 0px 2px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
    transition-property: background-color;
    transition-duration: 0.5s;
}

.hidden {
  opacity: 0;
}
